<h1>Editing gist</h1>

<div class="center hero-unit">
<%= render 'form' %>
<center>
<button type="button" class="btn btn-default btn-large"><%= link_to 'Pokaż', @gist %></button> 
<button type="button" class="btn btn-default btn-large"><%= link_to 'Wróć', gists_path %></button>
</center>
</div>
